<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>パスワード更新</title>
</head>
<body>
<h1>パスワード更新</h1>
<form id="accountForm" th:action="@{/user/password/complete}" th:object="${userUpdatePasswordForm}" method="post">
    <div>
        <label>現在のパスワード</label><br>
        <input type="password" maxlength="20" th:field="*{currentPassword}" name="currentPassword" required
               placeholder="現在のパスワードを入力してください"/>
    </div>
    <div>
        <label>新しいパスワード</label><br>
        <input type="password" maxlength="20" th:field="*{newPassword}" name="newPassword" required
               placeholder="新しいパスワードを入力してください"/>
    </div>
    <div>
        <label>新しいパスワード（確認）</label><br>
        <input type="password" maxlength="20" th:field="*{confirmPassword}" name="confirmPassword" required
               placeholder="もう一度パスワードを入力してください"/>
    </div>
    <div>
        <input type="submit" value="更新">
    </div>
</form>
</body>
</html>