<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>パスワード更新</title>
</head>
<body>
<h1>パスワード更新</h1>
<form id="accountForm" th:action="@{/user/password/complete}" th:object="${userUpdatePasswordForm}" method="post">
    <div th:classappend="${#fields.hasErrors('currentPassword')}? 'has-error'">
        <label>現在のパスワード</label><br>
        <input type="password" maxlength="20" th:field="*{currentPassword}" name="currentPassword" required
               placeholder="現在のパスワードを入力してください"/>
        <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">error!</span>
    </div>
    <div th:classappend="${#fields.hasErrors('newPassword')||#fields.hasErrors('passwordValid')||#fields.hasErrors('newPasswordValid')}? 'has-error'">
        <label>新しいパスワード</label><br>
        <input type="password" maxlength="20" th:field="*{newPassword}" name="newPassword" required
               placeholder="新しいパスワードを入力してください"/>
        <small style="color:red;">パスワードは5文字以上、15文字以下かつ、半角の英小文字、英大文字、数字を1種類ずつ含めて入力してください。</small>
        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">error!</span>
        <p th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}">error!</p>
        <p th:if="${#fields.hasErrors('newPasswordValid')}" th:errors="*{newPasswordValid}">error!</p>
    </div>
    <div th:classappend="${#fields.hasErrors('passwordValid')}? 'has-error'">
        <label>新しいパスワード（確認）</label><br>
        <input type="password" maxlength="20" th:field="*{confirmPassword}" name="confirmPassword" required
               placeholder="もう一度パスワードを入力してください"/>
        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">error!</span>
    </div>
    <div>
        <a th:href="@{/top}">戻る</a>
        <input type="submit" value="更新">
    </div>
</form>
</body>
</html>