<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="login_id">アカウントID</label><br>
            <input type="text" id="login_id" name="login_id" placeholder="アカウントID" autofocus required/>
        </div>
        <div>
            <label for="login_password">パスワード</label><br>
            <input type="password" id="login_password" name="login_password" placeholder="パスワード" required />
        </div>
        <div>
            <input type="submit" value="ログイン" />
        </div>
    </form>
</body>
</html>