<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ログイン完了</title>
</head>
<body>
<div>
    <h1>ようこそ<span th:text="${SessionUserName}"></span>さん</h1>
</div>
<div>
    <a th:href="@{/post/register/init}">投稿する</a>
    <a th:href="@{/user/update/init}">アカウントを更新する</a>
    <a th:href="@{/post/search/init}">投稿を検索する</a>
    <a th:href="@{/user/password/init}">パスワードを変更する</a>
    <a th:href="@{/user/unsubscribe/confirm}" style="color:red;">退会する</a>
</div>
<div>
    <h1>投稿一覧</h1>
    <div th:each="post : ${PostList}">
        <form th:action="@{/post/delete}" method="post">
            <fieldset>
                <h3 th:text="${post.title}"></h3>
                <p th:text="${post.detail}"></p>
                <input type="hidden" name="postId" th:value="${post.id}">
                <input type="submit" value="削除">
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>